@mixin button($theme: $yellow) {
  background-color: $theme;
  padding: 16px 32px;
  border-radius: 4px;
}
@mixin flexer($position: center) {
  display: flex;
  justify-content: $position;
  align-items: center;
}
@mixin sectitle {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 700;
  color: $primary-text;
}
