$font-stack: "Roboto", sans-serif;

$mainpadding: 110px;
$maxwidth: 1500px;
$maxwidthmobile: 320px;
$mainpaddingmobile: 10px;

$homeh: 64px;
$heading1: 56px;
$heading2: 48px;
$heading3: 28px;
$heading4: 20px;
$heading5: 14px;
$heading6: 12px;

$yellow: #f2c94c;
$yellow-light: #fcedc6;
$green-tertiary: #eff7f2;
$black: #0b0706;
$primary-text: #1d2130;
$secondary-text: #525560;
$off-white: #ebf0f9;
$border-color: #e5e5e5;
