@import "./linkedpages";
@import "./mixins";
@import "./reset";
@import "./variables";

.header {
  @include flexer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  &__sec {
    @include flexer($position: space-between);
    max-width: $maxwidth;
    width: 100%;
    padding: 18px $mainpadding;
    &__logo {
      font-size: 24px;
      font-weight: 700;
      &__span {
        font-family: "Courgette", cursive;
        font-weight: 400;
        font-size: 25px;
      }
    }
    &__nav {
      padding: 16px 20px;
      &__ul {
        @include flexer;
        list-style: none;
        gap: 40px;
        &__li {
          position: relative;
          ::after {
            content: " ";
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $yellow;
            transform-origin: bottom left;
            transform: scaleX(0);
            transition: transform 0.5s ease;
          }
          :hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
        &__main {
          text-decoration: none;
          color: #000;
          font-weight: 700;
        }
        &__link {
          text-decoration: none;
          color: $secondary-text;
          font-weight: 500;
        }
      }
    }
    &__button {
      @include button($theme: $primary-text);
      &__link {
        color: #fff;
        text-decoration: none;
      }
    }
    &__burgermenu {
      display: none;
    }
  }
}
//popup
@import "./popup";

.firstsec {
  position: relative;
  display: flex;
  justify-content: center;
  &__image {
    filter: brightness(0.4);
    width: 100%;
    height: 735px;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    max-width: $maxwidth;
    width: 100%;
    justify-content: flex-start;
    padding: 0 $mainpadding;
    &__text {
      margin-top: 120px;
      width: 50%;
      font-size: $homeh;
      font-weight: 700;
      line-height: 76px;
      color: #fff;
    }
    &__button {
      margin: 50px 0 200px 0;
      &__link1 {
        @include button($theme: #fff);
        text-decoration: none;
        color: $primary-text;
        font-weight: 500;
        margin-right: 50px;
      }
      &__link2 {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
      }
      &__i {
        border-radius: 50%;
        padding: 7px 7px 7px 9px;
        color: $primary-text;
        background-color: #fff;
      }
    }
    &__div {
      @include flexer($position: space-between);
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      position: relative;
      &__p1::after {
        content: "";
        position: absolute;
        top: 50%;
        height: 1px;
        width: 65%;
        background-color: $border-color;
        margin-left: 20px;
      }
    }
  }
}
.About {
  @include flexer;
  &__maindiv {
    @include flexer($position: space-between);
    max-width: $maxwidth;
    width: 100%;
    padding: 80px $mainpadding;
    &__content {
      &__div1 {
        padding: 100px;
        &__title {
          @include sectitle;
        }
        &__p1 {
          color: $primary-text;
          font-size: $heading2;
          margin-bottom: 30px;
          font-weight: 700;
        }
        &__p2 {
          margin-bottom: 45px;
          font-size: 16px;
          font-weight: 400;
          line-height: 25px;
          color: $secondary-text;
        }
        &__button {
          padding-top: 50px;
          &__link {
            @include button;
            text-decoration: none;
            font-size: 16px;
            color: #000;
            font-weight: 500;
          }
        }
      }
    }
    &__div {
      position: relative;
      &__img {
        object-fit: cover;
        height: 580px;
        width: 480px;
        filter: brightness(0.5);
        border-radius: 20px;
      }
      &__i {
        position: absolute;
        top: 257px;
        right: 208px;
        font-size: 20px;
        border-radius: 50%;
        padding: 20px 18px 20px 23px;
        color: $primary-text;
        background-color: #fff;
      }
    }
  }
}
.div2 {
  @include flexer;
  &__content {
    max-width: $maxwidth;
    width: 100%;
    padding: 0 $mainpadding;
    &__after {
      color: $primary-text;
      position: relative;
      font-size: 16px;
      font-weight: 500px;
      &__p::after {
        content: "";
        position: absolute;
        top: 50%;
        height: 1px;
        width: 85%;
        background-color: $border-color;
        margin-left: 20px;
      }
    }
    &__ul {
      margin-top: 30px;
      margin-bottom: 75px;
      @include flexer($position: space-between);
      font-size: 24px;
      list-style: none;
      &__li img {
        filter: opacity(0.6);
      }
    }
  }
}
.WhatWeDo {
  @include flexer;
  background-color: $yellow-light;
  &__main {
    max-width: $maxwidth;
    width: 100%;
    padding: $mainpadding;
    @include flexer($position: space-between);
    &__text {
      padding: 0 100px;
      &__title {
        @include sectitle;
      }
      &__headp {
        color: $primary-text;
        font-weight: 700;
        font-size: $heading2;
      }
      &__p2 {
        color: $secondary-text;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 35px;
      }
      &__secondary {
        color: $primary-text;
        font-weight: 700;
        font-size: 24px;
        padding-left: 75px;
        border-left: 1px solid $border-color;
        &__span {
          color: $secondary-text;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
    &__img {
      object-fit: cover;
      width: 480px;
      height: 655px;
      border-radius: 20px;
    }
  }
}
.Projects {
  @include flexer;
  margin: 100px 0;
  &__main {
    max-width: $maxwidth;
    width: 100%;
    padding: 0 $mainpadding;
    &__title {
      @include sectitle;
      padding-left: 100px;
    }
    &__text {
      width: 55%;
      margin-bottom: 65px;
      padding-left: 100px;
      color: $primary-text;
      font-weight: 700;
      font-size: $heading2;
    }
    &__cards {
      @include flexer($position: space-between);
      gap: 24px;
      &__content {
        flex-wrap: wrap;
        position: relative;
        width: 30%;
        &__text {
          position: absolute;
          top: 80px;
          z-index: 1;
          padding: 0 48px;
          &__p1 {
            margin-bottom: 16px;
            font-size: $heading3;
            font-weight: 700;
            color: #fff;
          }
          &__p2 {
            margin-bottom: 64px;
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            color: #fff;
          }
        }
        &__linkdiv {
          position: absolute;
          bottom: 64px;
          left: 48px;
          z-index: 1;
          &__link {
            @include button($theme: #fff);
            text-decoration: none;
            color: $primary-text;
            font-size: 16px;
            font-weight: 500;
          }
        }
        &__img {
          object-fit: cover;
          width: 100%;
          height: 420px;
          border-radius: 20px;
          filter: brightness(0.4);
        }
      }
    }
  }
}
.events {
  @include flexer;
  margin: 180px 0;
  &__main {
    max-width: $maxwidth;
    width: 100%;
    padding: 0 $mainpadding;
    justify-content: flex-start;
    &__titlediv {
      position: relative;
      color: $primary-text;
      font-size: 40px;
      font-weight: 500;
      &__title::after {
        content: "";
        position: absolute;
        top: 50%;
        height: 1px;
        width: 80%;
        background-color: $border-color;
        margin-left: 20px;
      }
    }
    &__date {
      @include flexer($position: space-between);
      margin-top: 40px;
      &__div1 {
        padding: 40px;
        @include flexer($position: flex-start);
        background-color: $yellow;
        width: 49%;
        height: 190px;
        border-radius: 20px;
        gap: 24px;
        &__p1 {
          font-size: 16px;
          font-weight: 500;
          color: $primary-text;

          &__span {
            font-size: 48px;
            font-weight: 500;
            color: $primary-text;
          }
        }
        &__p2 {
          width: 70%;
          font-size: 16px;
          font-weight: 500;
          color: $primary-text;
          position: relative;
          ::after {
            content: "";
            position: absolute;
            top: 10%;
            height: 2px;
            width: 45px;
            background-color: $primary-text;
            left: 120px;
          }
          &__span {
            font-size: $heading3;
            font-weight: 700;
            color: $primary-text;
          }
        }
      }
    }
  }
}
.CTA {
  @include flexer;
  margin: 100px 0;
  &__div {
    max-width: $maxwidth;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 $mainpadding;
    &__img {
      filter: brightness(0.5);
      height: 500px;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
    &__content {
      position: absolute;
      top: 115px;
      @include flexer;
      &__text {
        width: 60%;
        text-align: center;
        color: #fff;
        font-size: $heading2;
        font-weight: 700;
      }
    }
    &__buttons {
      position: absolute;
      bottom: 120px;
      @include flexer;
      gap: 70px;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      &__btn1 {
        text-decoration: none;
        @include button;
        color: #000;
      }
      &__btn2 {
        text-decoration: none;
        @include button($theme: #fff);
        color: $primary-text;
      }
    }
  }
}
.footer {
  @include flexer;
  background-color: $black;
  &__content {
    max-width: $maxwidth;
    width: 100%;
    padding: 90px $mainpadding;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 50% auto;
    &__left {
      display: flex;
      justify-content: space-between;
      &__logo {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        &__span {
          font-family: "Courgette", cursive;
          font-weight: 400;
          font-size: 25px;
        }
      }
      &__ul {
        list-style: none;
        color: #fff;
        &__title {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 24px;
        }
        &__li {
          margin-bottom: 24px;
          font-size: 14px;
          font-weight: 400;
          opacity: 70%;
          &__a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    &__right {
      width: 80%;
      justify-content: flex-start;
      margin-left: 140px;
      color: #fff;
      font-size: 40px;
      font-weight: 700;
    }
  }
}

@import "./mediaqueries";
